<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5b9ece5-34e3-4abc-b0d8-d9dd267ebda0" Alias="blogItem" Level="3">
  <Info>
    <Name>Blog item</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27387b5e-a071-4523-8963-1ec1fbf6a90c">blogs</Parent>
    <Compositions>
      <Composition Key="27387b5e-a071-4523-8963-1ec1fbf6a90c">blogs</Composition>
    </Compositions>
    <DefaultTemplate>BlogItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="17fa4062-b62b-4023-b01b-839f8457ede9">BlogItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>