<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47fe7c8d-1d00-4f09-ab8e-5b9d988498d8" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="37f0284b-8a02-410a-93c7-ba2f7e58dad2">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="27387b5e-a071-4523-8963-1ec1fbf6a90c" SortOrder="0">blogs</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>