@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="application-name" content="Application Name">
	<meta name="theme-color" content="#4285f4">
	<meta name="description" content="A description of the page">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow">
	<meta name="google" content="nositelinkssearchbox">
	<meta name="google" content="notranslate">
	<meta name="referrer" content="no-referrer">
	<link rel="author" href="humans.txt">
	<link rel="license" href="copyright.html">
	<link rel="icon" sizes="192x192" href="/path/to/icon.png">
	<link rel="apple-touch-icon" href="/path/to/apple-touch-icon.png">
	<link rel="mask-icon" href="/path/to/icon.svg" color="blue">
	<meta property="fb:app_id" content="123456789">
	<meta property="og:url" content="https://example.com/page.html">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Content Title">
	<meta property="og:image" content="https://example.com/image.jpg">
	<meta property="og:image:alt" content="A description of what is in the image (not a caption)">
	<meta property="og:description" content="Description Here">
	<meta property="og:site_name" content="Site Name">
	<meta property="og:locale" content="en_US">
	<meta property="article:author" content="">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@@site_account">
	<meta name="twitter:creator" content="@@individual_account">
	<meta name="twitter:url" content="https://example.com/page.html">
	<meta name="twitter:title" content="Content Title">
	<meta name="twitter:description" content="Content description less than 200 characters">
	<meta name="twitter:image" content="https://example.com/image.jpg">
	<meta name="twitter:image:alt" content="A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters.">
	<title>Juliens Umbraco blogs: read learn and play</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    @RenderBody()
</body>
</html>